
  
  /* ###################### #################*/
  
  /* user-form */
  .main-u{
    position: relative;
    /* align-items: center; */
    height: 90rem;
    background-color: rgb(32, 34, 37);
    color: white;
  }
  .form-c h1,
  .form-u h1{
    margin: 0;
    font-size: 40px;
    margin-bottom: 35px;
  }
  .form-u label{
    font-size: 17px; 
    font-weight: 600;
    /* margin-bottom: 50px; */
  }
  /* .in{
    height: 3rem;
    width: 30rem;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    position: relative;
  } */
  form{
    /* background-color: rgba(255,255,255,0.3); */
    display: block;
    text-align: left;
    position: relative;
    top: 100px;
  }
  
  .form-u{
    width: 70%;
    margin: auto;
  }
  /* input[type=text]{
    height: 3rem;
    width: 30rem;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    position: relative;
    border: none;
  }
  input[type=text]:focus{
    border: none;
  } */
  
  #has2{
    margin: 1px 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #has1{
    margin-bottom: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .input-group {
    display: block;
    width: 30rem;
    max-width: 100%;
    height: 3rem;
    border: 0;
    background-color: rgb(53, 56, 64);
    border-radius: 10px;
    box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07);
    margin-bottom: 22px;
    position: relative;
    font-size: 17px;
    color: #a7b4c1;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
    box-shadow 0.1s ease-in-out;
    margin: 20px 0;
  }
  textarea{
    background-color: rgb(53, 56, 64);
    resize: vertical;
    width: 30rem;
    outline: none;
    border-radius: 10px;
    border: none;
    margin: 20px 0;
    color: #9bf6ff;
    padding: 10px 0 0 20px;
    font-size: 17px;
  }
  textarea:hover{
    background-color: rgba(255,255,255,0.3); 
  }
  .input-group:hover{
    background-color: rgba(255,255,255,0.3);
  }
  .input-group:hover {
    box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
  }
  
  .input-group input {
    position: absolute;
    border: 0;
    outline: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    height: 3rem;
    width: 100%;
    padding: 0 53px;
    box-sizing: border-box;
    z-index: 3;
    display: block;
    color: #9bf6ff;
    font-size: 17px;
    font-family: "Oxygen", sans-serif;
    transition: top 0.1s ease-in-out;
  }
  
  .input-group input::placeholder {
    color: rgba(0, 0, 0, 0);
  }
  
  .input-group input:focus,
  .input-group input:not(:placeholder-shown) {
    top: 12px;
    outline: none;
    
  }
  
  .input-group label {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 53px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    cursor: text;
  }
  
  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    bottom: 20px;
    font-size: 13px;
    /* opacity: 0.7; */
  }
  
  .save-btn{
    border: none;
    outline: none;
    background-color: #3AA3F7;
    color: white;
    margin: 25px 0;
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
  }
  .ppp{
    margin: 20px 0;
     position: absolute;
     width: 40%;
     top: 1px;
     right: 1px;
  
  }
  #image{
    height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: linear-gradient(90deg, hsla(116, 50%, 48%, 1) 0%, hsla(101, 46%, 8%, 1) 100%);
  position: relative;
  cursor: pointer;
  align-items: center;
  margin: 20px 5px;
  }
  #image:hover{
    background-color: black;
  }
  #banner:hover{
    background-color: black;
  }
  
  .banner-image{
    margin-top: 40px;
  }
  #banner{
  height: 10rem;
  width: 10rem;
  border-radius: 20px;
  background-color:  #131322;
  position: relative;
  cursor: pointer;
  align-items: center;
  margin: 20px 5px;
  }
  .preview-btn{
    border: 1px solid white;
    outline: none;
    background-color: rgb(32, 34, 37);
    color: white;
    margin: 35px 0;
    width: 8rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
  }
  /* user-form-end */
  
  /* ##################################### */
  
  