  /* .main{
    position: relative;
    align-items: center;
    height: 60rem;
    background-color: rgb(32, 34, 37);
  } */
  /* input[type=file]{
    opacity: 0.0; 
    position: absolute; 
    top:0; 
    left: 0; 
    bottom: 0; 
    right:0; 
    width: 100%; 
    height:100%;
  } */
  .upper{
    background-color:  rgb(24,27,34);
    height: 250px;
    position: relative;
  }
  
  .upper:hover{
    background-color:  black;
    cursor: pointer;
  }
  .address{
    border: 2px solid black;
    height: 50px;
    width: 180px;
    border-radius: 30px;
    position: relative;
    left: 44%;
    color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .address:hover{
    background-color: rgba(255,255,255,0.3);
    color: white;
  }
  
  .prof-img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-image: linear-gradient(to right top, #caeef6, #86fbf6, #4fffd1, #6cff8b, #b1ff02);
  position: relative;
  top: -80px;
  left: 44.5%;
  align-items: center;
  }
  .prof-img:hover{
    background-image:none;
    background-color: black;
  }
  .user-details{
    position: relative;
    top: -70px;
    align-items: center;
    text-align: center;
  }
  .details .user-details p{
    color: rgb(138, 147, 155);
  }
  .details .user-details p:hover{
    color: white;
    
  }
  .details .user-details h1{
    color: white;
  }
  
  .icon{
    height: 50px;
    width: 130px;
    border: 1px solid white;
    border-radius: 10px;
    /* background-color: white; */
    position: absolute;
    right: 20px;
    top:350px;
    color: white;
  }
  .icon .h{
    position: relative;
    top: 25%;
    right: 25%;
    
  }
  a{
    text-decoration: none;
    color: white;
  }
  .icon .G{
    position: relative;
    top: 25%;
    right: -20%;
  }
  .icon::before{
    content: " ";
    height: 2em;
    width: 0.1;
    padding: 13px 0;
    border: 1px solid white;
    /* border-radius: 10px; */
    background-color: white;
    position: relative;
    bottom: -15px;
    right: -8px;
  }

  .option{
    display: inline-block;
  }
  .option a {
    /* background: #212121; */
    color: grey;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 40px;
    position: relative;
  }
  /*add the border and transform it trough scaleX(0)*/
  .option a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0px;
    /* left: 25%; */
    background-color: #3AA3F7;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  hr{
    /* border-style: none; */
    border-top-style:initial;
    border-color: rgb(65, 66, 67);;
    border-width: 2px;
    /* width: 100%; */
    margin: 0;
  }
  /*show the hidden border on hover*/
  .option a:hover::before {
    transform: scaleX(1);
  }
  .option a:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255,255,255,0.3);
    color: white;
  }
  .menu {
    align-items: center;
    /* background: #212121; */
    display: flex;
    justify-content: center;
    margin: 0;
    height: 50px;
    width: 700px;
  }
  /* user-end */
  
  /* ###################### #################*/
  
  /* user-form */
  .main-u{
    position: relative;
    /* align-items: center; */
    height: 90rem;
    background-color: rgb(32, 34, 37);
    color: white;
  }
  .form-c h1,
  .form-u h1{
    margin: 0;
    font-size: 40px;
    margin-bottom: 35px;
  }
  .form-u label{
    font-size: 17px; 
    font-weight: 600;
    /* margin-bottom: 50px; */
  }
  /* .in{
    height: 3rem;
    width: 30rem;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    position: relative;
  } */
  form{
    /* background-color: rgba(255,255,255,0.3); */
    display: block;
    text-align: left;
    position: relative;
    top: 100px;
  }
  
  .form-u{
    width: 70%;
    margin: auto;
  }
  /* input[type=text]{
    height: 3rem;
    width: 30rem;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    position: relative;
    border: none;
  }
  input[type=text]:focus{
    border: none;
  } */
  
  #has2{
    margin: 1px 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #has1{
    margin-bottom: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .input-group {
    display: block;
    width: 30rem;
    max-width: 100%;
    height: 3rem;
    border: 0;
    background-color: rgb(53, 56, 64);
    border-radius: 10px;
    box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07);
    margin-bottom: 22px;
    position: relative;
    font-size: 17px;
    color: #a7b4c1;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
    box-shadow 0.1s ease-in-out;
    margin: 20px 0;
  }
  textarea{
    background-color: rgb(53, 56, 64);
    resize: vertical;
    width: 30rem;
    outline: none;
    border-radius: 10px;
    border: none;
    margin: 20px 0;
    color: #9bf6ff;
    padding: 10px 0 0 20px;
    font-size: 17px;
  }
  textarea:hover{
    background-color: rgba(255,255,255,0.3); 
  }
  .input-group:hover{
    background-color: rgba(255,255,255,0.3);
  }
  .input-group:hover {
    box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
  }
  
  .input-group input {
    position: absolute;
    border: 0;
    outline: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    height: 3rem;
    width: 100%;
    padding: 0 53px;
    box-sizing: border-box;
    z-index: 3;
    display: block;
    color: #9bf6ff;
    font-size: 17px;
    font-family: "Oxygen", sans-serif;
    transition: top 0.1s ease-in-out;
  }
  
  .input-group input::placeholder {
    color: rgba(0, 0, 0, 0);
  }
  
  .input-group input:focus,
  .input-group input:not(:placeholder-shown) {
    top: 12px;
    outline: none;
    
  }
  
  .input-group label {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 53px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    cursor: text;
  }
  
  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    bottom: 20px;
    font-size: 13px;
    /* opacity: 0.7; */
  }
  
  .save-btn{
    border: none;
    outline: none;
    background-color: #3AA3F7;
    color: white;
    margin: 25px 0;
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
  }
  .ppp{
    margin: 20px 0;
     position: absolute;
     width: 40%;
     top: 1px;
     right: 1px;
  
  }
  #image{
    height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: linear-gradient(90deg, hsla(116, 50%, 48%, 1) 0%, hsla(101, 46%, 8%, 1) 100%);
  position: relative;
  cursor: pointer;
  align-items: center;
  margin: 20px 5px;
  }
  #image:hover{
    background-color: black;
  }
  #banner:hover{
    background-color: black;
  }
  
  .banner-image{
    margin-top: 40px;
  }
  #banner{
  height: 10rem;
  width: 10rem;
  border-radius: 20px;
  background-color:  #131322;
  position: relative;
  cursor: pointer;
  align-items: center;
  margin: 20px 5px;
  }
  .preview-btn{
    border: 1px solid white;
    outline: none;
    background-color: rgb(32, 34, 37);
    color: white;
    margin: 35px 0;
    width: 8rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
  }
  /* user-form-end */
  
  /* ##################################### */
  
  /* create-section */
  .form-c{
    width: 50%;
    margin: auto;
  }
  .head{
    font-weight: 600;
    font-size: 20px;
  }
  #image-uploader{
    height: 100px;
    position: relative;
  }
  #des{
    width: 29rem;
  }
  .des-group{
    margin: 40px 0;
  }
  .form-c p{
  font-size: 14px;
  font-weight: 500;
  color: grey;
  margin: 5px 0;
  }
  .nft-image:hover{
    background-color: black;
    cursor: pointer;
  }
  
  .nft-image-image{
    margin-top: 40px;
  }
  .nft-image{
  height: 20rem;
  
  border: 2px solid white;
  border-style: dashed;
  width: 29rem;
  border-radius: 20px;
  /* background-color:  #131322; */
  position: relative;
  cursor: pointer;
  align-items: center;
  margin: 20px 5px;
  }
  span{
    color: red;
  }
  #create-btn{
    margin: 0;
  }
  /* End create-section */
  
  /* landing-page-1 */
  .head-container{
    width: 100%;
    height: 73%;
    background-image: url(https://lh3.googleusercontent.com/O3Zi9hd5QlOFeVWZuKCUgW8bMfbg5MJ_3ph2LALoZKuNxLB3SFKPxy1rCPViUErGNRrFm1FdIGmjpQJwmWk3Ti42jc3YjOhUjTSp=w600);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .fading-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(32, 34, 37,0.8);
    background-image: linear-gradient(to top,
    rgba(32, 34, 37,1),
    rgba(32, 34, 37,0));
  }
  .text-div{
    width: 38%;
    height: 80%;
    /* background-color: green; */
    margin: auto;
    text-align: left;
    padding: 170px 0 0 50px;
  }
  .text-div h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .text-div span{
    width: 100px;
    font-size: 24px;
    color: rgb(138, 147, 155);
  }
  .banner-div{
    /* width: 40%;
    height: 80%; */
    height: 520px;
    width: 550px;
    background-color: black;
    margin-right:150px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-top: -10px;
  }
  
  .btn-div{
    margin-top: 20px;
  }
  #explore-btn{
    margin-right: 20px;
    width:  167px;
  }
  #create-btn{
   background-color: grey;
    width:  167px;
  }
  
  .landing-img{
    width: 100%;
    height: 85%;
   
    background-size: cover;
    background-image: url(https://lh3.googleusercontent.com/O3Zi9hd5QlOFeVWZuKCUgW8bMfbg5MJ_3ph2LALoZKuNxLB3SFKPxy1rCPViUErGNRrFm1FdIGmjpQJwmWk3Ti42jc3YjOhUjTSp=w600);
  }
  .landing-img-details{
    width: 100%;
    /* height: 100%; */
    /* background-color: white; */
    display: flex;
    align-items: center;
    
  }
  .landing-prof-img{
    margin: 0 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(https://lh3.googleusercontent.com/O3Zi9hd5QlOFeVWZuKCUgW8bMfbg5MJ_3ph2LALoZKuNxLB3SFKPxy1rCPViUErGNRrFm1FdIGmjpQJwmWk3Ti42jc3YjOhUjTSp=w600);
  
  }
  .landing-prof-img-det{
    /* display: flex; */
  }
  .landing-prof-img-det .name{
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .landing-prof-img-det .user-name{
    color: #3AA3F7;
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
  }
  /* End landing-page-1 */
  
  